<script type="text/javascript">
	$(function() {
    $('.popup-bpm-diagram').click(function() {
    	$('#teste-dialog2').dialog({
    		autoOpen: false,
		    minWidth: 700,
		    width: 'auto',
		    height: 'auto',
		    maxHeight: 600,
		    modal: true
    		});
    	$('#teste-dialog2').dialog('open');
    	});
    });
</script>

<style>
#teste-dialog2 {
	display: none;
}
</style>
<%= button_tag(l(:view_process_instance), :class => "popup-bpm-diagram") if @issue.process_instance %>
<div id="teste-dialog2">
	<%= image_tag(process_instance_path(@issue.id), :class => 'diagram-bpm') %>
</div> 