#diagram_loader {
	display: none;
	/*quando padronizarmos a forma de fazer o diagrama do bpm, ajustar esses valores*/
	margin-right: 30px;
    margin-bottom: 100px;
}

button.popup_bpm_diagram {
    border: none;
    background-color: #F6F6F6;
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 15px;
    color: #2E7E7D;
}

button.popup_bpm_diagram:focus {
    outline: none;
}

button.popup_bpm_diagram:hover {
    color: #ECB11F;
}

h2.title_process_diagram{
    font-size: 20px;
    color: #000;
    text-align: center;
    width: 100%;
}

.ui-button-icon-only .ui-button-text {
     padding: 0px; 
}