<h1>Processos</h1>

<style type="text/css">
  label,  input {
    display: block;
    float: left;
  }

  label {
    text-align: right;
    width: 50px;
    padding-right: 20px;
    padding-bottom: 10px;
  }

  fieldset {
    border: solid 1px #000;
  }

  br {
    clear: left;
  }
</style>

<% unless @process_list.blank? %>
  <div class="autoscroll">
    <table class="list issues">
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Versão</th>
        <th></th>
      </tr>

      <% @process_list.each do |process| %>
        <tr>
          <td><%= process.id %></td>
          <td><%= process.name %></td>
          <td><%= process.version %></td>
          <td><%= link_to l('start_process'), start_process_path(process.id), method: :post %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
